# Logs
logs
*.log
npm-debug.log*
.nyc_output

/app-version.json

# Coverage directory used by tools like istanbul
coverage

# Sass
.sass-cache/
*.css.map

# Dependency directory
node_modules

# Ignore IDE Files
.idea



server/log/

# Ignore built JS and CSS
/client/dist/bundle.css
/client/dist/bundle.js
