.newsFeedPage {
  background: $backgroundColor;

  .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .newsCardWrapper {
    display: flex;
    flex-direction: row;

    & > div {
      flex: 1 1 auto;
      text-align: center;
      margin: 5px;
    }
  }
}